[user]
  user = orther
	name = Brandon Orther
	email = brandon@omt.tech

[push]
	default = simple

[core]
	editor = /usr/bin/vim
	excludesfile = /Users/brandon/.gitignore.global
	attributesfile = ~/.gitattributes

# use separate file github token
[include]
  path = ~/.gitconfig.local

[credential]
  helper = osxkeychain

# rewrites of repo paths
# [url "git@github.com:"]
# 	insteadOf = "gh:"
# 	insteadOf = "git://github.com"
# 	pushInsteadOf = "github:"
# 	pushInsteadOf = "git://github.com/"
#   pushInsteadOf = "https://github.com/"
# [url "git@gist.github.com:"]
# 	insteadOf = "gst:"
# 	pushInsteadOf = "gist:"
# 	pushInsteadOf = "git://gist.github.com/"
# 	pushInsteadOf = "https://gist.github.com/"
