[user]
  user = orther
	name = Brandon Orther
	email = brandon@omt.tech

[push]
	default = simple

[core]
	editor = /usr/bin/vim
	excludesfile = /Users/brandon/.gitignore.global
	attributesfile = ~/.gitattributes

# use separate file github token
[include]
  path = ~/.gitconfig.local

[credential]
  helper = osxkeychain

[alias]
	c = commit -am
	up = pull
	p = push
	s = status -s
	sclone = clone --depth=1
	co = checkout
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

# rewrites of repo paths
# [url "git@github.com:"]
# 	insteadOf = "gh:"
# 	insteadOf = "git://github.com"
# 	pushInsteadOf = "github:"
# 	pushInsteadOf = "git://github.com/"
#   pushInsteadOf = "https://github.com/"
# [url "git@gist.github.com:"]
# 	insteadOf = "gst:"
# 	pushInsteadOf = "gist:"
# 	pushInsteadOf = "git://gist.github.com/"
# 	pushInsteadOf = "https://gist.github.com/"
